<a href="https://colab.research.google.com/github/minaghez/Projet_IA_M1/blob/main/Tp1_AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# NOM    = GHEZALI 
# prenom = AMINA
# CLASSE = M1_IA_SCHOOL
# TP 01  = Analyse de données

Importation des Librairies Python

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Chargement du jeu de données

In [47]:

# Chemin d'accès au fichier CSV
path = "/content/ecoles.csv"

# Charger les données du fichier CSV dans un DataFrame pandas
data = pd.read_csv(path , index_col="code" , decimal=',' , thousands= ' ' )

# Afficher les premières lignes du DataFrame
print(data.head())

                  Département  Public – Maternelles  Public – Élémentaires  \
code
01                        Ain                    94                    370
02                      Aisne                    97                    387
03                     Allier                    88                    255
04    Alpes-de-Haute-Provence                    31                    126
05               Hautes-Alpes                    17                    119

      Privé – Maternelles  Privé – Élémentaires  Total écoles  \
code
01                      4                    43           511
02                      0                    21           505
03                      0                    13           356
04                      0                     5           162
05                      0                     7           143

      Population estimée 2019  Part des femmes (en %)  Part des hommes (en %)  \
code
01                     653688                    50.8                    49.2
02                     528016                    51.3                    48.7
03                     333065                    52.1                    47.9
04                     161980                    51.1                    48.9
05                     141784                    51.0                    49.0

      Part des 0 à 24 ans (en %)  Part des 25 à 59 ans (en %)  \
code
01                          30.4                         45.8
02                          29.6                         43.1
03                          24.4                         40.7
04                          24.6                         41.5
05                          25.5                         42.9

      Part des 60 ans ou plus (en %)  dont part des 75 ans ou plus (en %)
code
01                              23.8                                  8.1
02                              27.3                                  9.1
03                              34.9                                 13.3
04                              34.0                                 12.7
05                              31.6                                 11.6

L'ajout des colonnes des calculs ▶

In [72]:


# Le calcul de la population des moins de 25 ans
data["Population moins de 25 ans"] = data.apply(lambda row: row["Population estimée 2019"] * row["Part des 0 à 24 ans (en %)"] / 100 , axis=1)


# Le calcul de la part de l'enseignement privé
data["Part de l'enseignement privé"] = data.apply(lambda row: row["Total écoles"] / (row["Privé – Maternelles"]+row["Privé – Élémentaires"]) * 100, axis=1)


# le calcul du ratio nombre de jeunes (< 25 ans)/écoles
data["Ratio nombre de jeunes / écoles"] = data.apply(lambda row: row["Part des 0 à 24 ans (en %)"] / row["Total écoles"], axis=1)


#L'ajout des nouvelles colonnes 
data.to_csv(path, index=False)

In [74]:
print(data.head())   #Pour afficher la nouvelle base de données

           Département  Public – Maternelles  Public – Élémentaires  \
code
59                Nord                   551                   1061
62       Pas-de-Calais                   385                    862
13    Bouches-du-Rhône                   546                    599
77      Seine-et-Marne                   393                    690
76      Seine-Maritime                   365                    693

      Privé – Maternelles  Privé – Élémentaires  Total écoles  \
code
59                      4                   255          1871
62                      1                   103          1351
13                      5                   122          1272
77                      3                    37          1123
76                      1                    61          1120

      Population estimée 2019  Part des femmes (en %)  Part des hommes (en %)  \
code
59                    2592185                    51.7                    48.3
62                    1463196                    51.5                    48.5
13                    2035410                    52.1                    47.9
77                    1421735                    51.4                    48.6
76                    1248590                    52.0                    48.0

      Part des 0 à 24 ans (en %)  Part des 25 à 59 ans (en %)  \
code
59                          32.9                         44.2
62                          30.9                         43.9
13                          29.6                         44.1
77                          33.4                         46.6
76                          30.5                         43.3

      Part des 60 ans ou plus (en %)  dont part des 75 ans ou plus (en %)  \
code
59                              22.9                                  7.5
62                              25.2                                  8.1
13                              26.3                                  9.7
77                              20.0                                  6.2
76                              26.3                                  9.0

      Population moins de 25 ans  Part de l'enseignement privé  \
code
59                    852828.865                    722.393822
62                    452127.564                   1299.038462
13                    602481.360                   1001.574803
77                    474859.490                   2807.500000
76                    380819.950                   1806.451613

      Ratio nombre de jeunes / écoles  Population moins de 25 ans11  \
code
59                           0.017584                    852828.865
62                           0.022872                    452127.564
13                           0.023270                    602481.360
77                           0.029742                    474859.490
76                           0.027232                    380819.950

      Part de l'enseignement privé11  Ratio nombre de jeunes / écoles11
code
59                        722.393822                           0.017584
62                       1299.038462                           0.022872
13                       1001.574803                           0.023270
77                       2807.500000                           0.029742
76                       1806.451613                           0.027232

Filtrage de la base de données data ==>

In [71]:
# Méthode 02 pour la création de colonnes et les calculs et la visualisation de données :

#La population de moins de 25 ans: 
data["Population moins de 25 ans11"] = data["Population estimée 2019"] * data["Part des 0 à 24 ans (en %)"] / 100


#La part de l'enseignement privé:
data["Part de l'enseignement privé11"] = data["Total écoles"] / (data["Privé – Maternelles"]+data["Privé – Élémentaires"]) * 100


# le calcul du ratio nombre de jeunes (< 25 ans)/écoles:
data["Ratio nombre de jeunes / écoles11"] = data["Part des 0 à 24 ans (en %)"] / data["Total écoles"]

data.head()
#L'ajout des nouvelles colonnes 
#data.to_csv(path, index=False)

,Département,Public – Maternelles,Public – Élémentaires,Privé – Maternelles,Privé – Élémentaires,Total écoles,Population estimée 2019,Part des femmes (en %),Part des hommes (en %),Part des 0 à 24 ans (en %),Part des 25 à 59 ans (en %),Part des 60 ans ou plus (en %),dont part des 75 ans ou plus (en %),Population moins de 25 ans,Part de l'enseignement privé,Ratio nombre de jeunes / écoles,Population moins de 25 ans11,Part de l'enseignement privé11,Ratio nombre de jeunes / écoles11
code,,,,,,,,,,,,,,,,,,,
59,Nord,551,1061,4,255,1871,2592185,51.7,48.3,32.9,44.2,22.9,7.5,852828.865,722.393822,0.017584,852828.865,722.393822,0.017584
62,Pas-de-Calais,385,862,1,103,1351,1463196,51.5,48.5,30.9,43.9,25.2,8.1,452127.564,1299.038462,0.022872,452127.564,1299.038462,0.022872
13,Bouches-du-Rhône,546,599,5,122,1272,2035410,52.1,47.9,29.6,44.1,26.3,9.7,602481.360,1001.574803,0.023270,602481.360,1001.574803,0.023270
77,Seine-et-Marne,393,690,3,37,1123,1421735,51.4,48.6,33.4,46.6,20.0,6.2,474859.490,2807.500000,0.029742,474859.490,2807.500000,0.029742
76,Seine-Maritime,365,693,1,61,1120,1248590,52.0,48.0,30.5,43.3,26.3,9.0,380819.950,1806.451613,0.027232,380819.950,1806.451613,0.027232

La création de la sous_base ==>

In [88]:
#La création de la sous-base de données apartir du jeu de données ecole.csv ==>
data = data.loc[:, ['Département', 'Total écoles', 'Population moins de 25 ans' , "Part de l'enseignement privé" , "Ratio nombre de jeunes / écoles"]]
data.to_csv(path, index=False)

#Affichage de données ==>
data.head()

,Département,Total écoles,Population moins de 25 ans,Part de l'enseignement privé,Ratio nombre de jeunes / écoles
code,,,,,
976,Mayotte,205,162763.944,931.818182,0.293659
973,Guyane,174,142717.991,1933.333333,0.276437
48,Lozère,107,19303.500,428.000000,0.238318
2A,Corse-du-Sud,113,37794.400,2825.000000,0.210619
90,Territoire de Belfort,149,42644.992,1862.500000,0.200000

In [90]:
# Trier les écoles en fonction des départements:
data.sort_values('Total écoles', ascending=False, inplace=True)

#Afficher les données :
#print(data[['Département', 'Total écoles']].head(10))
data.head()

,Département,Total écoles,Population moins de 25 ans,Part de l'enseignement privé,Ratio nombre de jeunes / écoles
code,,,,,
59,Nord,1871,852828.865,722.393822,0.017584
62,Pas-de-Calais,1351,452127.564,1299.038462,0.022872
13,Bouches-du-Rhône,1272,602481.360,1001.574803,0.023270
77,Seine-et-Marne,1123,474859.490,2807.500000,0.029742
76,Seine-Maritime,1120,380819.950,1806.451613,0.027232

In [78]:
# Trier la population moins de 25 ans en fonction du département :
data.sort_values('Population moins de 25 ans', ascending=False, inplace=True)

# Afficher les données:
print(data[['Département', 'Population moins de 25 ans']].head(10))

            Département  Population moins de 25 ans
code
59                 Nord                  852828.865
69                Rhône                  621171.870
13     Bouches-du-Rhône                  602481.360
93    Seine-Saint-Denis                  585684.858
75                Paris                  577942.020
92       Hauts-de-Seine                  496281.192
33              Gironde                  484452.657
77       Seine-et-Marne                  474859.490
78             Yvelines                  461142.501
62        Pas-de-Calais                  452127.564

In [80]:
# Trier la Part des écoles privées :
data.sort_values("Part de l'enseignement privé", ascending=False, inplace=True)

# Afficher les données:
print(data[['Département', "Part de l'enseignement privé"]].head(10))

                  Département  Part de l'enseignement privé
code
52                Haute-Marne                   5500.000000
23                     Creuse                   5200.000000
2B                Haute-Corse                   4733.333333
57                    Moselle                   4208.333333
89                      Yonne                   4200.000000
87               Haute-Vienne                   3262.500000
04    Alpes-de-Haute-Provence                   3240.000000
19                    Corrèze                   3228.571429
60                       Oise                   2973.333333
2A               Corse-du-Sud                   2825.000000

In [83]:
# Trier le Ratio jeune/école en fonction des départements :
data.sort_values("Ratio nombre de jeunes / écoles", ascending=False, inplace=True)

# Afficher les données:
print(data[['Département', "Ratio nombre de jeunes / écoles"]].head(10))

                  Département  Ratio nombre de jeunes / écoles
code
976                   Mayotte                         0.293659
973                    Guyane                         0.276437
48                     Lozère                         0.238318
2A               Corse-du-Sud                         0.210619
90      Territoire de Belfort                         0.200000
2B                Haute-Corse                         0.180986
05               Hautes-Alpes                         0.178322
55                      Meuse                         0.171338
52                Haute-Marne                         0.153333
04    Alpes-de-Haute-Provence                         0.151852

Affichage des données en fonctions des clauses :

In [86]:
# Départements >> 800 écoles
ecole_sup_800 = data.loc[data['Total écoles'] > 800]
print("Départements avec plus de 800 écoles ==>")
print(ecole_sup_800[['Département', 'Total écoles']])



# Départements >> 10% d'écoles privées
ecole_sup_10pour = data.loc[data["Part de l'enseignement privé"] > 0.1]
print("Départements avec plus de 10% d'écoles privées ==>")
print(ecole_sup_10pour[['Département', "Part de l'enseignement privé"]])



# Départements >> 400 000 jeunes (< 25 ans)
jeune_400kilo = data.loc[data['Population moins de 25 ans'] > 400000]
print("Départements avec plus de 400 000 jeunes (< 25 ans) ==>")
print(jeune_400kilo[['Département', 'Population moins de 25 ans']])



# Départements >> 400 jeunes par école
ratio_sup_400 = data.loc[data["Ratio nombre de jeunes / écoles"] > 400]
print("Départements avec plus de 400 jeunes par école ==>")
print(ratio_sup_400[['Département', "Ratio nombre de jeunes / écoles"]])




# Départements >> 800 écoles ET 10% << d'écoles privées
ecole_sup_800_inf_10p = data.loc[(data['Total écoles'] > 800) & (data["Part de l'enseignement privé"] <= 0.1)]
print("Départements avec plus de 800 écoles ET 10% ou moins d'écoles privées ==>")
print(ecole_sup_800_inf_10p[['Département', 'Total écoles', "Part de l'enseignement privé"]])



# Départements << 800 écoles et >> de 400 000 jeunes (< 25 ans)
ecole_inf_800_jeune_400k = data.loc[(data['Total écoles'] < 800) & (data['Population moins de 25 ans'] > 400000)]
print("Départements avec moins de 800 écoles ET plus de 400 000 jeunes (< 25 ans) ==>")
print(ecole_inf_800_jeune_400k[['Département', 'Total écoles', 'Population moins de 25 ans']])



# Départements << 800 écoles ET >> 400 jeunes par école
ecole_inf_800_ratio_sup_400 = data.loc[(data['Total écoles'] < 800) & (data["Ratio nombre de jeunes / écoles"] > 400)]
print("Départements avec moins de 800 écoles ET plus de 400 jeunes par école ==>")
print(ecole_inf_800_ratio_sup_400 [['Département', 'Total écoles', "Ratio nombre de jeunes / écoles"]])

Départements avec plus de 800 écoles ==>
            Département  Total écoles
code
95           Val-d'Oise           822
93    Seine-Saint-Denis           895
91              Essonne           865
44     Loire-Atlantique           812
31        Haute-Garonne           888
67             Bas-Rhin           834
60                 Oise           892
75                Paris           812
38                Isère           997
69                Rhône          1056
78             Yvelines          1048
33              Gironde           994
77       Seine-et-Marne          1123
76       Seine-Maritime          1120
57              Moselle          1010
13     Bouches-du-Rhône          1272
62        Pas-de-Calais          1351
59                 Nord          1871
Départements avec plus de 10% d'écoles privées ==>
                Département  Part de l'enseignement privé
code
976                 Mayotte                    931.818182
973                  Guyane                   1933.333333
48                   Lozère                    428.000000
2A             Corse-du-Sud                   2825.000000
90    Territoire de Belfort                   1862.500000
...                     ...                           ...
76           Seine-Maritime                   1806.451613
57                  Moselle                   4208.333333
13         Bouches-du-Rhône                   1001.574803
62            Pas-de-Calais                   1299.038462
59                     Nord                    722.393822

[101 rows x 2 columns]
Départements avec plus de 400 000 jeunes (< 25 ans) ==>
            Département  Population moins de 25 ans
code
94         Val-de-Marne                  443676.462
92       Hauts-de-Seine                  496281.192
95           Val-d'Oise                  430396.666
93    Seine-Saint-Denis                  585684.858
91              Essonne                  441781.872
44     Loire-Atlantique                  446210.296
31        Haute-Garonne                  440787.232
75                Paris                  577942.020
69                Rhône                  621171.870
78             Yvelines                  461142.501
33              Gironde                  484452.657
77       Seine-et-Marne                  474859.490
13     Bouches-du-Rhône                  602481.360
62        Pas-de-Calais                  452127.564
59                 Nord                  852828.865
Départements avec plus de 400 jeunes par école ==>
Empty DataFrame
Columns: [Département, Ratio nombre de jeunes / écoles]
Index: []
Départements avec plus de 800 écoles ET 10% ou moins d'écoles privées ==>
Empty DataFrame
Columns: [Département, Total écoles, Part de l'enseignement privé]
Index: []
Départements avec moins de 800 écoles ET plus de 400 000 jeunes (< 25 ans) ==>
         Département  Total écoles  Population moins de 25 ans
code
94      Val-de-Marne           672                  443676.462
92    Hauts-de-Seine           670                  496281.192
Départements avec moins de 800 écoles ET plus de 400 jeunes par école ==>
Empty DataFrame
Columns: [Département, Total écoles, Ratio nombre de jeunes / écoles]
Index: []
Départements avec plus de 800 écoles ==>
            Département  Total écoles
code
95           Val-d'Oise           822
93    Seine-Saint-Denis           895
91              Essonne           865
44     Loire-Atlantique           812
31        Haute-Garonne           888
67             Bas-Rhin           834
60                 Oise           892
75                Paris           812
38                Isère           997
69                Rhône          1056
78             Yvelines          1048
33              Gironde           994
77       Seine-et-Marne          1123
76       Seine-Maritime          1120
57              Moselle          1010
13     Bouches-du-Rhône          1272
62        Pas-de-Calais          1351
59                 Nord          1871
Départements avec plus de 10% d'écoles privées ==>
                Département  Part de l'enseignement privé
code
976                 Mayotte                    931.818182
973                  Guyane                   1933.333333
48                   Lozère                    428.000000
2A             Corse-du-Sud                   2825.000000
90    Territoire de Belfort                   1862.500000
...                     ...                           ...
76           Seine-Maritime                   1806.451613
57                  Moselle                   4208.333333
13         Bouches-du-Rhône                   1001.574803
62            Pas-de-Calais                   1299.038462
59                     Nord                    722.393822

[101 rows x 2 columns]
Départements avec plus de 400 000 jeunes (< 25 ans) ==>
            Département  Population moins de 25 ans
code
94         Val-de-Marne                  443676.462
92       Hauts-de-Seine                  496281.192
95           Val-d'Oise                  430396.666
93    Seine-Saint-Denis                  585684.858
91              Essonne                  441781.872
44     Loire-Atlantique                  446210.296
31        Haute-Garonne                  440787.232
75                Paris                  577942.020
69                Rhône                  621171.870
78             Yvelines                  461142.501
33              Gironde                  484452.657
77       Seine-et-Marne                  474859.490
13     Bouches-du-Rhône                  602481.360
62        Pas-de-Calais                  452127.564
59                 Nord                  852828.865
Départements avec plus de 400 jeunes par école ==>
Empty DataFrame
Columns: [Département, Ratio nombre de jeunes / écoles]
Index: []
Départements avec plus de 800 écoles ET 10% ou moins d'écoles privées ==>
Empty DataFrame
Columns: [Département, Total écoles, Part de l'enseignement privé]
Index: []
Départements avec moins de 800 écoles ET plus de 400 000 jeunes (< 25 ans) ==>
         Département  Total écoles  Population moins de 25 ans
code
94      Val-de-Marne           672                  443676.462
92    Hauts-de-Seine           670                  496281.192
Départements avec moins de 800 écoles ET plus de 400 jeunes par école ==>
Empty DataFrame
Columns: [Département, Total écoles, Ratio nombre de jeunes / écoles]
Index: []